.card-img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.card-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price-cart{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}